.cards {
  margin-top: 30px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 51px 0 0;
}

.card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 282px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 22px;
}

.card__description {
  background-color: white;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.card__like-button {
  width: 28px;
  height: 18px;
  background: transparent url(../images/Vector.svg) center no-repeat;
  border: none;
}
