.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 51px 0 0;
}

.cards {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  width: 100%;
}

.cards__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.cards__image:hover {
  cursor: pointer;
}

.cards__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;
  margin: 0;
  padding: 25px 0px 25px;
}

.cards__description {
  background-color: white;
  padding: 0px 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.cards__trash-button {
  width: 18px;
  height: 19px;
  position: absolute;
  background: transparent url(../images/card-images/Trash.svg) center no-repeat;
  border: none;
  cursor: pointer;
  right: 19px;
  top: 18px;
}

/* make sure to fix this ! */

.cards__like-button {
  width: 21px;
  height: 18px;
  background: transparent url(../images/heart_like-button.svg) center no-repeat;
  border: none;
  cursor: pointer;
}

.cards__like-button_active {
  background: url(../images/heart_like-button_active.svg);
}

.cards__like-button:hover {
  opacity: 50%;
  transition: opacity;

  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .cards__list {
    padding: 0 20px;
  }
}
