.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
}

.modal__container {
  background-color: #ffffff;
  position: relative;
  margin: auto;
  color: #000;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}

.modal__close {
  border: none;
  background-image: url(../images/Close-Icon.svg);
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  top: -45px;
  right: -45px;
}

.modal__heading {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 34px 36px 54px;
}

.modal__description {
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 1);
  /* font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000; */
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}

.modal__button {
  margin: 18px 36px 36px;
  width: 358px;
  height: 50px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
